<header id='navbar'>
  <div class='nav'>
    <%=link_to root_path do %>
    <div class='logo' id='logo-navbar'>
      <%= image_tag("MSyndicLogo.png", size: "90x90", alt: "logo") %>
      <div class="title">
        <h1 class='word1'>Monsieur</h1><h1 class='word2'>SYNDIC</h1>
      </div>
    </div>
    <%end%>
    <% if user_signed_in? %>
      <div class='logout'>
        <%= button_to destroy_user_session_path, method: :delete, class: "out-btn" do%>
          <i class="fa-solid fa-circle-xmark">log out</i>
        <% end %>
      </div>
    <% end %>
    <div class='menu'>
      <div class='buttons'>
        <a href="https://extranet2.ics.fr/V5/connexion-mrsyndic.html" target='blank'>
          <button>
            <h3>Accès client</h3>
          </button>
        </a>
        <button>
          <h3>Attestations</h3>
        </button>
        <%= link_to prix_path do%>
          <button>
            <h3>Nos prix</h3>
          </button>
        <%end%>
      </div>
    </div>
  </div>
</header>
