<div class="bandeau">
  <div class="presentation">
    <%= image_tag("MSyndicLogo.png", alt: "logo") %>
    <div class="pitch">
      <div class="title">
        <h1 class='word1'>Monsieur</h1><h1 class='word2'>SYNDIC</h1>
      </div>
      <h2>Un cabinet éthique et novateur</h2>
      <p>Mon cabinet indépendant s’attache à développer un travail de qualité tout en valorisant la proximité et la disponibilité indispensables à notre métier de services. Mon organisation est renforcée d’une équipe autonome qui me suit depuis mes débuts, depuis mes premiers clients : la fidélité et la fiabilité de mes collaborateurs sont l’un des moteurs de mon entreprise à taille humaine.</p>
      <p>Chaque client est unique. Ce credo m’engage à adapter des solutions de services spécifiques et variées aux besoins de chacun d’entres eux. Mon personnel, qui partage la même culture d’entreprise, est à la recherche du détail, aidé en cela par un outil informatique performant asservi à nos besoins. Si je considère que c’est dans l’expérience que nous trouvons de nombreuses solutions, je reste attentive aux nouvelles méthodes de gestion, aux notions d’économies, aux comptes justes, aux travaux appropriés…</p>
      <p>Monsieur Syndic gère toutes les copropriétés, sans limite de nombre de lots.  Notre siège social est situé à Marseille afin de proposer un accès traditionnel à nos locaux pour nos clients des Bouches du Rhône comme du Var. Tous nos gestionnaires sont équipés pour être autonomes et surtout ils ont une mission principale : être sur le terrain et dans vos immeubles.</p>
      <p>L’interface de Monsieur Syndic est a ce point performante qu’elle fait oublier à nos clients comme à nos collaborateurs la nécessité de se déplacer en nos agences : notre bureau est votre copropriété, votre bureau est votre smartphone, votre tablette ou encore votre ordinateur.</p>
      <p>J’ai voulu Monsieur Syndic moderne pour ses clients, audacieux par ses moyens et ambitieux pour mes collaborateurs : nous ne cherchons pas être les premiers, nous cherchons à être les meilleurs.</p>
      <p>La présidente - Nathalie TRONCON</p>
    </div>
  </div>
</div>
